.matchScore {
  width: 100%;
  height: 100%;
  background-color: #121212;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.teams {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.teamName {
  width: auto;
  height: auto;
}
.totalScore {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
}
.overs {
  font-size: 20px;
}

.totalScore p {
  font-size: 40px;
}

.buttons {
  width: 70%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.matchSummery {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.remainingTeamOvers {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.match {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 700;
}
@media only screen and (max-width: 500px) {
  .CounterApp h1 {
    font-size: 10px;
  }
  .teams h1 {
    font-size: 20px;
  }
  .totalScore p {
    font-size: 20px;
  }
  .matchSummery {
    width: auto;
    height: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .remainingTeamOvers {
    font-size: 13px;
  }
  .match {
    display: flex;
    flex-direction: row;
  }
  .overs {
    font-size: 15px;
  }
  .over {
    font-size: 15px;
  }
}
